        <div class="footer-container">
            <footer class="wrapper clearfix">
                <section>
                    <h2>Sponsors</h2>
                        <ul class="sponsors">
                            <li><a href="http://www.ala.org/acrl/"><img src="img/sponsors/acrl.png" /></a></li>
                            <li><a href="http://lib.utexas.edu/"><img src="img/sponsors/utlib.png" /></a></li>
                            <li><a href="http://library.tamu.edu/"><img src="img/sponsors/tamulib.png" /></a></li>
                            <li><a href="http://library.austincc.edu/"><img src="img/sponsors/acclib.png" /></a></li>
                        </ul>
                </section>
                <nav id="footer-lib-links" class="footer-bar">
                    <ul class="footerbar" id="liblinks">
                        <li><a href="http://www.lib.utexas.edu/comments.html?referrer=http://conferences.lib.utexas.edu/scholcomm2013">Comments</a></li>
                        <li><a href="http://lib.utexas.edu/website_feedback">Web Site Feedback</a></li>
                        <li><a href="http://www.lib.utexas.edu/about/site.html">About This Site</a></li>
                        <li><a href="http://www.utexas.edu/emergency/">Emergency Preparedness, Safety and Security</a>
                        </li><li><a href="http://www.utexas.edu/web/guidelines/accessibility.html">Accessibility</a></li>
                        <li><a href="http://www.lib.utexas.edu/privacy.html">Privacy / Confidentiality</a></li>
                        <li><a href="http://www.lib.utexas.edu/usage_statement.html">Material Usage Statement</a></li>
                    </ul>
                </nav>
            </footer>
        </div>

<!--
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
-->

<!--
        <script src="js/main.js"></script>
-->

<!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
-->
    </body>
</html>
