<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Scholarly Communication: From Understanding to Engagement</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="apple-touch-icon" href="img/browsericons/apple-touch-icon.png">
        <link rel="icon" href="img/browsericons/favicon.ico">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="utlib-branding-bar">
            <div class="branding-bar bar-ut">
                <a href="http://www.utexas.edu/"><img src="img/utlib-footer-tower.jpg"></a>
            </div>
            <div id="bar-liblogo" class="bar-library">
                <a href="http://lib.utexas.edu/"><img src="img/utlib-footer-flyingbook.gif"></a>
            </div>
        </div>
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Scholarly Communication: From Understanding to Engagement</h1>
                <h3 class="title">an ACRL Workshop</h3>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
<!--                         <li><a href="index.html#registration">Registration</a></li> -->
                        <li><a href="schedule.html">Schedule</a></li>
                        <li><a href="themes.html">Themes</a></li>
                        <li><a href="venue.html">Location</a></li>
                        <li><a href="accomodations.html">Accomodations</a></li>
                    </ul>
                </nav>
            </header>
        </div>
